<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: external_css}">
    </th:block>
</head>
<body>
<header th:replace="~{layout :: header}"></header>

<div class="container-fluid">
    <div class="col-5 mx-auto">
        <div class="text-center pt-3">
            <h3 style="color: #3FB6A8">Create Contract</h3>
        </div>
        <p class="text-center">
            <a th:href="@{/contract/list}">
                Back to Contract list
            </a>
        </p>
        <form th:action="@{/contract/save}" th:object="${contractDto}"
              method="POST" novalidate="novalidate">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="date" id="form3Example1" class="form-control" th:field="*{contractStartDate}"/>
                        <label class="form-label" for="form3Example1">Start Date</label>
                    </div>
                    <small style="color: red;" th:if="${#fields.hasErrors('contractStartDate')}"
                           th:errors="*{contractStartDate}"></small>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="date" id="form3Example2" class="form-control" th:field="*{contractEndDate}"/>
                        <label class="form-label" for="form3Example2">End Date</label>
                    </div>
                    <small style="color: red;" th:if="${#fields.hasErrors('contractEndDate')}"
                           th:errors="*{contractEndDate}"></small>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form4Example4" class="form-control" th:field="*{contractDeposit}"/>
                        <label class="form-label" for="form4Example4">Deposit</label>
                    </div>
                    <small style="color: red;" th:if="${#fields.hasErrors('contractDeposit')}"
                           th:errors="*{contractDeposit}"></small>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example4" class="form-control" th:field="*{contractTotalMoney}"/>
                        <label class="form-label" for="form3Example4">Total money</label>
                    </div>
                    <small style="color: red;" th:if="${#fields.hasErrors('contractTotalMoney')}"
                           th:errors="*{contractTotalMoney}"></small>
                </div>

            </div>



            <div class="row mb-4">
                <div class="col">
                        <select class="form-select" th:field="*{employee}">
                            <option value="">---Choose Employee---</option>
                            <option th:each="employee:${employeeList}" th:value="${employee.employeeId}"
                                    th:text="${employee.employeeName}"></option>
                        </select>
                    <small style="color: red;" th:if="${#fields.hasErrors('employee')}"
                           th:errors="*{employee}"></small>
                </div>

            </div>

            <div class="row mb-4">
                <div class="col">
                    <select class="form-select" th:field="*{customer}">
                        <option value="">---Choose Customer---</option>
                        <option th:each="customer:${customerList}" th:value="${customer.customerId}"
                                th:text="${customer.customerName}"></option>
                    </select>
                    <small style="color: red;" th:if="${#fields.hasErrors('customer')}"
                           th:errors="*{customer}"></small>
                </div>

            </div>
            <div class="row mb-4">
                <div class="col">
                    <select class="form-select" th:field="*{service}">
                        <option value="">---Choose Facility---</option>
                        <option th:each="facility:${facilityList}" th:value="${facility.serviceId}"
                                th:text="${facility.serviceName}"></option>
                    </select>
                    <small style="color: red;" th:if="${#fields.hasErrors('service')}"
                           th:errors="*{service}"></small>
                </div>

            </div>

            <!-- Submit button -->
            <div class="col-2 mx-auto">
                <button type="submit" class=" btn btn-primary">Save</button>
            </div>

        </form>
    </div>
</div>
<div th:replace="~{layout :: footer}"></div>

</body>
<th:block th:replace="layout::external_js">
</th:block>
</html>