<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="/layout :: nav"></nav>
<div class="container-fluid  col-9">
    <div class="text-center p-3">
        <h3>Blog List</h3>
        <p>
            <a th:href="@{/blog/create}">
                Add new blog
            </a>
        </p>
        <div class="notify">
            <div th:if="${msg}">
                <span style="color: darkcyan" th:text="${msg}"></span>
            </div>
        </div>
    </div>

    <form th:action="@{/blog/search}" method="get">
        <div class="d-flex justify-content-end p-3">
            <div class="form-outline">
                <input type="search" name="keyword" placeholder="Title" class="form-control"/>
            </div>
            <div class="form-outline">
                <button id="search-button" type="submit" class="btn btn-primary">
                    <svg class="bi bi-search" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    Search
                </button>
            </div>

        </div>
    </form>
    <!--    <table class="table table-striped">-->
    <!--        <thead>-->
    <!--        <tr style="background-color: #069A8E;color: white">-->
    <!--            <th class="col-1">ID</th>-->
    <!--            <th class="col-3">Title</th>-->
    <!--            <th class="col-2">Author</th>-->
    <!--            <th class="col-1">Content</th>-->
    <!--            <th class="col-3">Create Date</th>-->
    <!--            <th class="col-3">Category</th>-->
    <!--            <th class="col-2">Action</th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:each="blog,loop : ${blogList}">-->
    <!--            <td th:text="${blog.id}"></td>-->
    <!--            <td >-->
    <!--                <a th:href="@{/blog/{id}/view(id=${blog.getId()})}">-->
    <!--                    <span th:text="${blog.title}"></span>-->
    <!--                </a>-->

    <!--            </td>-->
    <!--            <td th:text="${blog.author}"></td>-->
    <!--            <td th:text="${blog.content}"></td>-->
    <!--            <td th:text="${blog.createDate}"></td>-->
    <!--            <td th:text="${blog.category.name}"></td>-->


    <!--            <td><a class="btn btn-warning" th:href="@{/blog/{id}/edit(id=${blog.getId()})}">edit</a>-->
    <!--                <button-->
    <!--                        th:attr="onclick=|deleteModal('${blog.id}', '${blog.title}', '${blog.author}')|"-->
    <!--                        type="button" class="btn btn-danger" data-toggle="modal"-->
    <!--                        data-target="#exampleModal">-->
    <!--                    Delete-->
    <!--                </button>-->
    <!--            </td>-->
    <!--            &lt;!&ndash;            <td><a class="btn btn-info" th:href="@{/product/{id}/view(id=${product.getId()})}">view</a></td>&ndash;&gt;-->
    <!--        </tr>-->
    <!--    </table>-->
    <div class="d-flex flex-direction-row justify-content-center row">
        <div th:each="blog,loop : ${blogList}" class="card col-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://picsum.photos/400" class="img-fluid"/>
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 th:text="${blog.title}"  class="card-title">Card title</h5>
                <h6 th:text="${blog.author}" class="card-subtitle mb-2 text-muted"></h6>
                <p th:text="${blog.content}" class="card-text"></p>
                <small th:text="${blog.createDate}"></small>
                <small class="d-block" th:text="${blog.category.name}"></small>
                <a class="btn btn-primary" th:href="@{/blog/{id}/edit(id=${blog.getId()})}">Edit</a>
                <button
                        th:attr="onclick=|deleteModal('${blog.id}', '${blog.title}', '${blog.author}')|"
                        type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#exampleModal">
                    Delete
                </button>
            </div>
        </div>
<!--        <div th:each="blog,loop : ${blogList}" class="card m-2 col-3">-->
<!--            <img class="card-img-top" src="https://picsum.photos/seed/picsum/200/300" width="100" alt="Card image cap">-->
<!--            <div class="card-body">-->
<!--                <h5 th:text="${blog.title}" class="card-title"></h5>-->
<!--                <h6 th:text="${blog.author}" class="card-subtitle mb-2 text-muted"></h6>-->
<!--                <p th:text="${blog.content}" class="card-text"></p>-->
<!--                <small th:text="${blog.createDate}"></small>-->
<!--                <small class="d-block" th:text="${blog.category.name}"></small>-->
<!--                <a class="btn btn-warning" th:href="@{/blog/{id}/edit(id=${blog.getId()})}">Edit</a>-->
<!--                <button-->
<!--                        th:attr="onclick=|deleteModal('${blog.id}', '${blog.title}', '${blog.author}')|"-->
<!--                        type="button" class="btn btn-danger" data-toggle="modal"-->
<!--                        data-target="#exampleModal">-->
<!--                    Delete-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <!--    <tr th:each="blog,loop : ${blogList}">-->
    <!--        <td th:text="${blog.id}"></td>-->
    <!--        <td >-->
    <!--            <a th:href="@{/blog/{id}/view(id=${blog.getId()})}">-->
    <!--                <span th:text="${blog.title}"></span>-->
    <!--            </a>-->

    <!--        </td>-->
    <!--        <td th:text="${blog.author}"></td>-->
    <!--        <td th:text="${blog.content}"></td>-->
    <!--        <td th:text="${blog.createDate}"></td>-->
    <!--        <td th:text="${blog.category.name}"></td>-->


    <!--        <td><a class="btn btn-warning" th:href="@{/blog/{id}/edit(id=${blog.getId()})}">edit</a>-->
    <!--            <button-->
    <!--                    th:attr="onclick=|deleteModal('${blog.id}', '${blog.title}', '${blog.author}')|"-->
    <!--                    type="button" class="btn btn-danger" data-toggle="modal"-->
    <!--                    data-target="#exampleModal">-->
    <!--                Delete-->
    <!--            </button>-->
    <!--        </td>-->
    <!--        &lt;!&ndash;            <td><a class="btn btn-info" th:href="@{/product/{id}/view(id=${product.getId()})}">view</a></td>&ndash;&gt;-->
    <!--    </tr>-->
</div>

<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/blog/delete}" method="post">
                <div class="modal-body">
                    <h3>Do you want to delete blog with information: </h3>
                    <div id="blog_id"></div>
                    <div id="blog_title"></div>
                    <div id="blog_author"></div>
                    <input type="hidden" name="id" id="id_delete">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
<script>
    function deleteModal(id, title, author) {
        document.getElementById("id_delete").value = id;
        document.getElementById("blog_id").innerText = "id: " + id;
        document.getElementById("blog_title").innerText = "title: " + title;
        document.getElementById("blog_author").innerText = "author: " + author;
    }
</script>



<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>

