<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<nav th:replace="/layout :: nav"></nav>
<div class="container-fluid">
    <h3>Remove Product</h3>
    <p>
        <a th:href="@{/product}">
            Back to product list
        </a>
    </p>
    <div id="form">
        <form action="#" th:action="@{/product/delete}" th:object="${product}"
              method="POST" novalidate="novalidate">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="number" th:field="*{price}"/>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="number" th:field="*{quantity}"/>
            </div>
            <div class="d-flex justify-content-center">
                <input class="btn btn-danger" type="submit" value="Remove"/>
            </div>
        </form>
    </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>