<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: external_css}">

    </th:block>

</head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container-fluid  col-9">

    <div class="text-center p-3">
        <h3 style="color: #3FB6A8">Employee Management</h3>
        <div class="notify">
            <div th:if="${msg}">
                <span style="color: darkcyan" th:text="${msg}"></span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <p>
                <a class="btn btn-primary" th:href="@{/employee/create}">
                    Add new employee
                </a>
            </p>
        </div>
        <div>
            <form action="/employee/list">
                <div class="input-group">
                    <div class="form-outline">
                        <input id="search-name" type="search" name="name" class="form-control"/>
                        <label class="form-label" for="search-name">Name</label>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>

        </div>
    </div>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr style="background-color: #3FB6A8;color: white">
            <th class="col-4">Name</th>
            <th class="col-1">Contact</th>
            <th>Birthday</th>
            <th>Salary</th>
            <th>Education</th>
            <th>ID Card</th>
            <th class="col-2">Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee,loop : ${employeeList}">
            <td>
                <div class="d-flex align-items-center">
                    <img
                            th:src="@{${employee.urlImage}}"
                            alt=""
                            style="width: 45px; height: 45px"
                            class="rounded-circle"
                    />
                    <div class="ms-3">
                        <a th:href="@{/employee/view/{id}(id=${employee.employeeId})}">
                            <p style="word-break: break-all;" class="fw-bold mb-1"
                               th:text="${employee.employeeName}"></p>
                        </a>
                        <p class="text-muted mb-0" th:text="${employee.employeeId}"></p>
                        <div>
                           <span class="badge rounded-pill badge-primary"
                                 th:text="${employee.position.positionName}"></span>
                            <span class="badge rounded-pill badge-warning"
                                  th:text="${employee.division.divisionName}"></span>
                        </div>

                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${employee.employeePhone}"></p>
                <p class="text-muted mb-0" th:text="${employee.employeeEmail}"></p>
            </td>
            <td th:text="${employee.employeeBirthday}"></td>
            <td th:text="${#numbers.formatDecimal(employee.employeeSalary, 0, 'COMMA', 0, 'POINT')}"></td>
            <td th:text="${employee.educationDegree.educationDegreeName}"></td>

            <td th:text="${employee.employeeIdCard}"></td>
            <td th:text="${employee.employeeAddress}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/employee/edit/{id}(id=${employee.employeeId})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>

                <button
                        th:attr="onclick=|deleteModal('${employee.employeeId}', '${employee.employeeName}')|"
                        type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--    <div class="d-block m-3 justify-content-center">-->
    <!--        <div class="text-center">-->
    <!--            <a class="btn btn-light"-->
    <!--               th:attrappend="class=${!customerList.hasPrevious()?' disabled':''}"-->
    <!--               th:href="@{list(page=${customerList.number - 1}, keyword=${name_keyword})}"><i-->

    <!--                    class="fas fa-chevron-left"></i></a>-->
    <!--            <a th:text="${customerList.number + 1}"></a>/-->
    <!--            <a style="font-weight: bold" th:text="${customerList.totalPages}"></a>-->
    <!--            <a class="btn btn-light"-->
    <!--               th:attrappend="class=${!customerList.hasNext()?' disabled':''}"-->
    <!--               th:href="@{list(page=${customerList.number + 1}, keyword=${name_keyword})}"><i-->
    <!--                    class="fas fa-chevron-right"></i></a>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="m-3">
        <div class="row d-flex justify-content-center">
            <nav th:fragment="pagination" aria-label="Page navigation example"
                 style="width: initial">
                <ul class="pagination">
                    <li class="page-item" th:attrappend="class=${!employeeList.hasPrevious() ? ' disabled' : ''}">
                        <a class="page-link"
                           th:attrappend="class=${!employeeList.hasPrevious() ? ' disabled' : ''}"
                           th:href="@{list(page=${employeeList.number - 1}, name=${name_keyword})}">
                            Previous
                            <!--                            <i class="fas fa-chevron-left"></i>-->
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="#" th:text="${employeeList.number + 1}"></a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="#">/</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link disabled" href="#" th:text="${employeeList.totalPages}"></a>
                    </li>
                    <span>&nbsp;</span>
                    <li class="page-item" th:attrappend="class=${!employeeList.hasNext() ? ' disabled' : ''}">
                        <a class="page-link"
                           th:attrappend="class=${!employeeList.hasNext() ? ' disabled' : ''}"
                           th:href="@{list(page=${employeeList.number + 1}, name=${name_keyword})}">
                            Next
                            <!--                            <i class="fas fa-chevron-right"></i>-->
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/employee/delete}" method="post">
                <div class="modal-body">
                    <h5 style="color: #3FB6A8">Do you want to delete Employee with information: </h5>
                    <div id="employee_id"></div>
                    <div id="employee_name"></div>
                    <input type="hidden" name="id" id="id_delete">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function deleteModal(id, name) {
        document.getElementById("id_delete").value = id;
        document.getElementById("employee_id").innerText = "id: " + id;
        document.getElementById("employee_name").innerText = "name: " + name;
    }
</script>
<div th:replace="~{layout :: footer}"></div>
</body>
<th:block th:replace="layout::external_js">
</th:block>
</html>