<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <title>Title</title>
    <th:block th:replace="~{layout :: external_css}">
    </th:block>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/material-card.css">
    <!--    <link rel="stylesheet/less" type="text/css" href="/static/css/material-card.less">-->
    <style type="text/css">

        html {
            position: relative;
            min-height: 100%;
        }

        body {
            background-color: #ECEFF1;
            color: #37474F;
            font-family: 'Raleway', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

        h1, h2, h3 {
            font-weight: 200;
        }

        .github-corner:hover .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }

        @keyframes octocat-wave {
            0%, 100% {
                transform: rotate(0)
            }
            20%, 60% {
                transform: rotate(-25deg)
            }
            40%, 80% {
                transform: rotate(10deg)
            }
        }

        @media (max-width: 500px) {
            .github-corner:hover .octo-arm {
                animation: none
            }

            .github-corner .octo-arm {
                animation: octocat-wave 560ms ease-in-out
            }
        }
    </style>
</head>
<body>
<header th:replace="~{layout :: header}"></header>
<section class="container">
    <div class="text-center p-3">
        <h3 style="color: #3f51b5">Facility Management</h3>
        <div class="notify">
            <div th:if="${msg}">
                <span style="color: darkcyan" th:text="${msg}"></span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <p>
                <a class="btn btn-primary" th:href="@{/facility/create}">
                    Add new Facility
                </a>
            </p>
        </div>
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12" th:each="facility,loop : ${facilityList}">
            <th:block th:if="${facility.serviceType.serviceTypeId eq 1}">
                <article class="material-card Indigo">
                    <h2>
                        <span th:text="${facility.serviceName}">Clint Eastwood</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            <th:block th:text="${facility.serviceType.serviceTypeName}">
                            </th:block>
                            <th:block th:text="${facility.rentType.rentTypeName}">
                            </th:block>
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive"
                                 th:src="@{${facility.urlImage}}">
                        </div>
                        <div class="mc-description">
                            <div>
                                Area: <span th:text="${facility.serviceArea}"></span>
                            </div>
                            <div>
                                Cost: <span th:text="${#numbers.formatDecimal(facility.serviceCost, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            <div>
                                Max People: <span th:text=" ${facility.serviceMaxPeople}"></span>
                            </div>
                            <div>
                                Standard: <span th:text="${facility.standardRoom}"></span>
                            </div>
                            <div>
                                Pool Area: <span th:text="${facility.poolArea}"></span>
                            </div>
                            <div>
                                Floor: <span th:text="${facility.numberOfFloor}"></span>
                            </div>
                            <div>
                                Description: <span th:text="${facility.descriptionOtherConvenience}"></span>
                            </div>
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars" style="margin: 0 10px"></i>
                    </a>
                    <div class="mc-footer">

                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </th:block>
            <th:block th:if="${facility.serviceType.serviceTypeId eq 2}">
                <article class="material-card Blue">
                    <h2>
                        <span th:text="${facility.serviceName}">Clint Eastwood</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            <th:block th:text="${facility.serviceType.serviceTypeName}">
                            </th:block>
                            <th:block th:text="${facility.rentType.rentTypeName}">
                            </th:block>
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive"
                                 th:src="@{${facility.urlImage}}">
                        </div>
                        <div class="mc-description">
                            <div>
                                Area: <span th:text="${facility.serviceArea}"></span>
                            </div>
                            <div>
                                Cost: <span th:text="${#numbers.formatDecimal(facility.serviceCost, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            <div>
                                Max People: <span th:text=" ${facility.serviceMaxPeople}"></span>
                            </div>
                            <div>
                                Standard: <span th:text="${facility.standardRoom}"></span>
                            </div>
                            <div>
                                Pool Area: <span th:text="${facility.poolArea}"></span>
                            </div>
                            <div>
                                Floor: <span th:text="${facility.numberOfFloor}"></span>
                            </div>
                            <div>
                                Description: <span th:text="${facility.descriptionOtherConvenience}"></span>
                            </div>
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars" style="margin: 0 10px"></i>
                    </a>
                    <div class="mc-footer">

                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </th:block>
            <th:block th:if="${facility.serviceType.serviceTypeId eq 3}">
                <article class="material-card Teal">
                    <h2>
                        <span th:text="${facility.serviceName}">Clint Eastwood</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            <th:block th:text="${facility.serviceType.serviceTypeName}">
                            </th:block>
                            <th:block th:text="${facility.rentType.rentTypeName}">
                            </th:block>
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive"
                                 th:src="@{${facility.urlImage}}">
                        </div>
                        <div class="mc-description">
                            <div>
                                Area: <span th:text="${facility.serviceArea}"></span>
                            </div>
                            <div>
                                Cost: <span th:text="${#numbers.formatDecimal(facility.serviceCost, 0, 'COMMA', 0, 'POINT')}"></span>
                            </div>
                            <div>
                                Max People: <span th:text=" ${facility.serviceMaxPeople}"></span>
                            </div>
                            <div>
                                Standard: <span th:text="${facility.standardRoom}"></span>
                            </div>
                            <div>
                                Pool Area: <span th:text="${facility.poolArea}"></span>
                            </div>
                            <div>
                                Floor: <span th:text="${facility.numberOfFloor}"></span>
                            </div>
                            <div>
                                Description: <span th:text="${facility.descriptionOtherConvenience}"></span>
                            </div>
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars" style="margin: 0 10px"></i>
                    </a>
                    <div class="mc-footer">

                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </th:block>
        </div>

    </div>

</section>
<div th:replace="~{layout :: footer}"></div>

</body>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/static/js/material-cards.js"></script>
</html>
<script>
    $(function () {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function () {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function () {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
</script>