<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: external_css}">
    </th:block>
    <style>
        td{
            font-weight: normal
        }
    </style>

</head>
<body>
<header th:replace="~{layout :: header}"></header>
<div class="container-fluid  col-9">

    <div class="text-center p-3">
        <h3 style="color: #3FB6A8">Facility Management</h3>
        <div class="notify">
            <div th:if="${msg}">
                <span style="color: darkcyan" th:text="${msg}"></span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <p>
                <a class="btn btn-primary" th:href="@{/facility/create}">
                    Add new Facility
                </a>
            </p>
        </div>
    </div>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr style="background-color: #3FB6A8;color: white">
            <th class="col-2">Name</th>
            <th>Area</th>
            <th>Cost</th>
            <th>People</th>
            <th>Rent Type</th>
            <th>Service Type</th>
            <th>Standard</th>
            <th>Description</th>
            <th>Pool Area</th>
            <th>Floor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="facility,loop : ${facilityList}">
            <td th:text="${facility.serviceName}"></td>
            <td th:text="${facility.serviceArea}"></td>
            <td th:text="${facility.serviceCost}"></td>
            <td th:text="${facility.serviceMaxPeople}"></td>
            <td th:text="${facility.rentType.rentTypeName}"></td>
            <td th:text="${facility.serviceType.serviceTypeName}"></td>
            <td th:text="${facility.standardRoom}"></td>
            <td th:text="${facility.descriptionOtherConvenience}"></td>
            <td th:text="${facility.poolArea}"></td>
            <td th:text="${facility.numberOfFloor}"></td>
        </tr>
        </tbody>
    </table>
    <section class="container">
        <div class="page-header">
            <h1>Material cards demo<br>
                <small>See full features on <a href="https://github.com/marlenesco/material-cards" target="_blank">Github</a></small></h1>
        </div>
        <div class="row active-with-click">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Red">
                    <h2>
                        <span>Christopher Walken</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            The Deer Hunter
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-christopher-walken.jpg">
                        </div>
                        <div class="mc-description">
                            He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <article class="material-card Pink">
                    <h2>
                        <span>Sean Penn</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            Mystic River
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="https://material-cards.s3-eu-west-1.amazonaws.com/thumb-sean-penn.jpg">
                        </div>
                        <div class="mc-description">
                            He has won two Academy Awards, for his roles in the mystery drama Mystic River (2003) and the biopic Milk (2008). Penn began his acting career in television with a brief appearance in a 1974 episode of Little House on the Prairie ...
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="mc-footer">
                        <h4>
                            Social
                        </h4>
                        <a class="fa fa-fw fa-facebook"></a>
                        <a class="fa fa-fw fa-twitter"></a>
                        <a class="fa fa-fw fa-linkedin"></a>
                        <a class="fa fa-fw fa-google-plus"></a>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
<div th:replace="~{layout :: footer}"></div>
</body>
<th:block th:replace="layout::external_js">
</th:block>
</html>